*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}



body{
    background-color: #458ff6;
}




a{
    text-decoration: none;
    color: unset;
    transition: all 300ms ease-in-out;
}

a:focus, a:hover{
    color: unset;
}

ul, ol{
    list-style-type: none;
}


.header{
    position: relative;
    min-height: 10vh;
    background-color: #458ff6;
}
.header *{
    color: white;
}

.navbar{
    width: 100%;
    padding: 56px 0 80px 0;
    display: flex;
    align-items: center;
}

.container_catalog{
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
    max-width: calc(1273px - 32px);
}

.navbar_content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 41px;
}

.brand_and_toggler{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand{
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.brand_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    font-size: 30px;
    border-radius: 50%;
    text-decoration-line: none;
    background-color: white;
    color: #458ff6;
    font-weight: bold;
}

.brand_text{
    text-decoration-line: none;
    height: 100%;
    align-self: center;
    font-size: 25px;
    font-weight: 400;
}

.navbar_show_btn{
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.navbar_hide_btn{
    display: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.navbar_hide_btn:hover{
    opacity: 0.8;
}

.nav{
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    justify-content: center;
}

.nav_item{
    margin-left: 40px;
}

.nav_link{
    font-weight: 400;
    font-size: 18px;
}

.nav_link:hover{
    opacity: 0.9;
}

.navbar_box{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav_burger{
    display: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    color: #000;
  }
  
  /* The Close Button */
  .closebtnhum {
    color: #121212;
    float: right;
    top: 0;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
  }
.myBtn img{
    width: 10vmax;
}
.closebtnhum:hover,
.closebtnhum:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.burgerMenu123{
    right: -100000px;
    position: fixed;
}



/* 
my code */

/* .wrapper{
    display: flex;
    justify-content: center;
} */

.container{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    background-color: #458ff6;
    align-items: center;

} 

.first_box{
    background: #fff ;  
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 15px;
}
.first_box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: navy;
    /* position: relative; */
}


.input_field{
    background: #e4e4e4;;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden; 
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input_field i {
    margin-left: 15px;
    color: #999;
}
form p{
    text-align: left;
    font-size: 14px;
}
form p a{
    text-decoration: none;
    color: navy;
}

.btn_field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn_field button{
    width: 45%;
    background: navy;
    color: #fff;
    margin-top: 10px;
    height: 35px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition: 0.5s;
}
.signupBtn{
    transition: 0.6s;
}

.button_field{
    width: 100%;
    justify-content: center;
}

.button_field .send_btn{
    background-color: navy;
    color: #fff;
    height: 35px;
    width: 100%;
    border-radius: 15px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition: 0.5s;
   
}


.btn_field button:hover{
    background: #e4e4e4;
    color: navy;
}
.input_group{
    height: 280px;

}

.btn_field button.swipe{
    background: #e4e4e4;
    color: navy;
}    
.btn_field button.swipe:hover{
    background: navy;
    color: #fff;
}  

.svg{
    width: 30px;
    color: white;
}


/* login adaptive */ 


 @media (max-width: 626px){
    .container{
        width: 100%;

    }
    

    .first_box h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

   

    .input_field input {
        padding: 12px;
    }

    .btn_field button {
        height: 30px;
    }

    .navbar_show_btn{
        display: flex;
        align-items: center;
        z-index: 1;
    }
    .nav{
        display: none;
    }
    .container_catalog{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .showNav{
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .burgerMenuNav{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black !important;
        
    }
    .burgerMenu{
        background-color: #fff;
        padding: 20px;
        width: 25vmax;
        border-radius: 10px;
    }
    .closeBurger{
        position: absolute;
        margin-left: 20vmax;
    }
}
