@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');


*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: unset;
    transition: all 300ms ease-in-out;
}

a:focus, a:hover{
    color: unset;
}

img, picture, video, canvas, svg{
    max-width: 100%;
    display: block;
}
input, button, textarea, select{
    font: inherit;
    outline: 0;
}
h1, h2, h3, h4, h5, h6{
    overflow-wrap: break-word;
}
textarea{
    resize: none;
}
img, object, embed, video{
    max-width: 100%;
}

body{
    font-family: Mulish, sans-serif;
    line-height: 1.6;
    height: 100%;
    font-weight: 300;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.main{
    overflow: hidden!important;
}





.header{
    position: relative;
    min-height: 100vh;
    background-color: #458ff6;
}
.header *{
    color: white;
}

.navbar{
    padding: 56px 0 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
    max-width: calc(1273px - 32px);
}

.navbar_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 41px;
}

.brand_and_toggler{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand{
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.brand_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    font-size: 30px;
    border-radius: 50%;
    text-decoration-line: none;
    background-color: white;
    color: #458ff6;
    font-weight: bold;
}

.brand_text{
    text-decoration-line: none;
    height: 100%;
    align-self: center;
    font-size: 25px;
    font-weight: 400;
}

.navbar_show_btn{
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.navbar_hide_btn{
    display: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.navbar_hide_btn:hover{
    opacity: 0.8;
}

.nav{
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    justify-content: center;
}

.nav_item{
    margin-left: 40px;
}

.nav_link{
    font-weight: 400;
    font-size: 18px;
}

.nav_link:hover{
    opacity: 0.9;
}

.banner_content{
    display: grid;
    column-gap: 78px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.banner_left .content_wrapper{
    max-width: 445px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.banner_title{
    font-size: 48px;
    line-height: 1.166;
}

.banner_left p{
    max-width: 340px;
}
.banner_left .text{
    margin-top: 25px;
    margin-bottom: 45px;
}

.banner_right{
    justify-content: center;
    margin-top: 40px;
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
}

.btn{
    min-width: 200px;
    height: 56px;
    border-radius: 54px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    color: #458ff6;
    background-color: white;
    transition: all 300ms ease-in-out;
}

.btn:hover{
    color: white;
    background-color: #1472f4;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.sc_services{
    padding-top: 179px;
    padding-bottom: 115.9px;
    position: relative;
    overflow: hidden;
}
.sc_services .content_wrapper{
    max-width: 670px;
    margin-right: auto;
    margin-left: auto;
}
.sc_services .content_wrapper .text{
    line-height: 1.5;
}

.services_shape{
    position: absolute;
    z-index: -1;
    top: 290px;
    left: -70px;
}

.title_box .title_box_name{
    font-weight: 700;
    font-size: 36px;
}
.title_box .title_separator{
    margin: 10px auto 33px;
    /* margin-right: auto;
    margin-left: auto; */
    height: 2px;
    background-color: black;
    width: 56px;
    /* margin-top: 10px;
    margin-bottom: 33px; */
    text-align: center;
}

.content_wrapper .title_box_name{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_wrapper .text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.services_item{
    box-shadow: 10px 40px 50px 0px #e5e9f666;
    background-color: white;
    border-radius: 20px;
    width: 350px;
    min-height: 354px;
    padding: 46px 38px;
    margin: 18.5px;
    width: calc(33.3333% - 37px);
    transition: all 300ms ease-in-out;
}
.services_item:hover{
    box-shadow:  rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
}
.services_item .item_title{
    font-size: 24px;
    margin-top: 22px;
    margin-bottom: 12px;
    text-align: center;
}

.services_item .text{
    text-align: center;
}

.services_item .item_icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.services_grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);

    justify-self: center;
    align-self: center;
}

.services_grid .services_item{
    width: 25vmax;
    place-self: center;
}

.grid_img{
    display: grid;
    column-gap: 78px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);

    align-items: center;
}
.grid_img img{
    grid-row-start: 1;
    grid-row-end: 4;
}

.grid_img .title_box_name{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 48px;
    line-height: 1.166;

}

.grid_img .title_box_text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.grid_content{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 137px;
    text-align: left;
}
.grid_content .title_box .title_separator{
    margin-left: 0;
    margin-top: 26px;
}
.grid_content .text{
    line-height: 1.667;
}
.flex_content{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.sc_grid_one{
    padding: 115.5px 0 114.5px 0;
    background-color: #458ff6;
}
.sc_grid_one .grid_content .title_box .title_separator{
    background-color: white;
}

.grid_text .content_wrapper{
    color: white;
}

.sc_grid_two{
    padding: 114.5px 0 125px 0;
    
}
.sc_grid_two .grid_content .grid_img{
    order: 2;
}
.sc_grid_two .grid_content .grid_text .content_wrapper{
    max-width: 340px;
    color: black;
}

.sc_grid_two .grid_content .grid_text{
    text-align: left;
    margin-left: auto;
}




.footer{
    margin-top: 136.6px;
    background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
    padding-top: 118px;
    padding-bottom: 109px;
    position: relative;
}

.footer_list{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 40px;
    color: #fff;
}

.footer_item:nth-child(1){
    padding-right: 100px;
}

.footer_item:nth-child(1) p{
    font-weight: 300;
    font-size: 18px;
}   

.footer_item_title{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 24px;
}

.footer_links li a{
    font-weight: 300;
    font-size: 18px;
}

.footer_links li a:hover{
    text-decoration: underline;
}

.footer_links li{
    margin-bottom: 10px;
}
.nav_burger{
    display: none;
    position: absolute;

}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  border-radius: 10px;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  color: #000;
}

/* The Close Button */
.close {
  color: #121212;
  float: right;
  top: 0;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.myBtn img{
    width: 10vmax;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.burgerlink{
    color: #000!important;
}
.burgerlink:hover{
    color: black !important;
}
.linksinmodal{
    display: flex;
    flex-direction: column;
}
.flex_content img{
    width: 50vmax;
}
@media screen and (max-width:768px) {
    .banner_content{
        grid-template-columns: repeat(1, 1fr);

    }
    .banner_title{
        text-align: center;
    }
    .content_wrapper{
        max-width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .grid_img{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 70vmax;
    }
    .grid_img img{
        width: 50vmax;
    }
    .flex_content{
        flex-direction:column ;
        justify-content: space-between;
        height: 60vmax;
    }
    .flex_content img{
        width: 50vmax;
    }
    .services_grid .services_item{
        width: 30vmax;
    }
}
@media screen and (max-width:515px) {
    .services_grid{
        grid-template-columns: repeat(1,1fr);

    }
    .services_grid .services_item{
        width: 70%;
    }
    .footer_list{
        display: flex;
        align-items: center;
        flex-direction: column;

    }
    .footer_item{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 !important;
    }
    .modal-content{
        width: 50%;
    }
    
}
@media screen and (max-width:626px) {
    .nav{
        display: none;
    }
    .nav_burger{
        display: block;
        right: 0;
    }
    .navbar_content{
        align-items: normal;
    }
    .navbar .container {
        margin: 0;
    }
    .footer_company{
        display: none;
    }
    
}