/* utilities classes */
.container{
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
    max-width: calc(1273px - 32px);
}



/* text stylings and colors */
.text{
    color: #7d7987;
    mix-blend-mode: normal;
    font-weight: 300;
    font-style: normal;
}



.text_blue{
    color: #458ff6
}

.text_black{
    color: black
}

.text_white{
    color: white;
}

.text_gray{
    color: #7d7987;
}

.text_dark_purple{
    color: #1f1534;
}

.text_uppercase{
    text-transform: uppercase;
}

.text_capitalize{
    text-transform: capitalize;
}

.text_lowercase{
    text-transform: lowercase;
}

.text_center{
    text-align: center;
}

.text_start{
    text-align: left;
}

.text_end{
    text-align: right;
}

.text_justify{
    text-align: justify;
}

.text_nowrap{
    white-space: nowrap;
}


/* backgrounds colors */
.bg_transparent{
    background-color: transparent;
}

.bg_white{
    background-color: white;
}

.bg_black{
    background-color: black;
}

.bg_blue{
    background-color: #458ff6;
}

.bg_gray{
    background-color: #7d7987;
}

.bg_dark_purple{
    background-color: #1f1534;
}


.op_01{opacity: 0.1;}
.op_02{opacity: 0.2;}
.op_03{opacity: 0.3;}
.op_04{opacity: 0.4;}
.op_05{opacity: 0.5;}
.op_06{opacity: 0.6;}
.op_07{opacity: 0.7;}
.op_08{opacity: 0.8;}
.op_09{opacity: 0.9;}


/* display */
.d_block{display: block;}
.d_inline{display: inline;}
.d_inline_block{display: inline-block;}
.d_flex{display: flex;}
.d_inline_flex{display: inline-flex;}
.d_grid{display: grid;}
.d_none{display: none;}

/* flex */
.justify_content_start{justify-content: flex-start;}
.justify_content_end{justify-content: flex-end;}
.justify_content_center{justify-content: center;}
.align_items_center{align-items: center;}
.align_items_stretch{align-items: stretch;}
.align_items_end{align-items: flex-start;}
.align_items_start{align-items: flex-start;}
.align_items_baseline{align-items: baseline;}
.flex_column{flex-direction: column;}
.flex_row{flex-direction: row;}
.flex_wrap{flex-wrap: wrap;}

/* vertically and horizontally centered */
.flex_center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.justify_content_between{
    justify-content: space-between;
}

/* buttons */
.btn{
    min-width: 200px;
    height: 56px;
    border-radius: 54px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    color: white;
    transition: all 300ms ease-in-out;
}

.btn:hover{
    color: white;
    background-color: #1472f4;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.btn_primary{
    background-color: #458ff6;
}
.btn_primary_outline{
    border: 1.4px solid #458ff6;
    color: #458ff6;
}
.btn_secondary{
    background-color: white;
    color: #458ff6;
}
.btn_white_outline{
    color: white;
    border: 1.4px solid white;
}
.btn_white_outline:hover{
    background-color: white;
    color: #458ff6;
}

/* title */
.title_box .title_box_name{
    font-weight: 700;
    font-size: 36px;
}
.title_box .title_separator{
    height: 2px;
    background-color: black;
    width: 56px;
    margin-top: 10px;
    margin-bottom: 33px;
}

/* margin auto */
.mx_auto{
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 992px){
    .title_box .title_box_name{
        font-size: 32px;
    }
}

.resize_animation_stopper *{
    animation: none!important;
    transition: none!important;
}